h1, h2, p{
    color: #1d12c0;
}
section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #41d307;
    height: 100vh;
}
section:nth-of-type(2n) {
    background-color: #FE4B74;
}
ul.a{
    list-style-type: upper-roman;
}
ul.b{
    list-style-type: lower-alpha;
}
ul.c{
    list-style-type: circle;
}

p.a {
    text-align-last: center;
    font-size: 16px;
}
